*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: rgb(136, 103, 110);
    font-family: "Arial";
    padding: 20px;
   
}
.container{
   margin-left: 20%;
   margin-right: 10%;
   margin-top: 1%;
   margin-bottom: 1%;
    width:800px;
    height: 600px;
    background-color: blanchedalmond;

}
.box1{
    width:35%;
    height: 100%;
    float:left;
    background-color: wheat;

}
.box2{
 
    float: left;
    background-color: rgb(32, 105, 87);
    width: 65%;
    height: 100%;
}
ul{
    list-style-type: circle;
}
a{
    text-decoration: none;
    width: 30px;
    height: 30px;
    background-color: rgb(82, 10, 52);
    color:white;
    padding: 7px;
}